---
import BaseLayout from '../../layouts/BaseLayout.astro';
import ArticleListWithTimeline from '../../components/ArticleListWithTimeline.astro';
import ScrollTopBottom from '../../components/ScrollTopBottom.astro';
import { getPublishedPosts } from '../../utils/collections';

const articles = await getPublishedPosts();
---

<BaseLayout title="匯文" description="小说、随笔、读书札记">
  <div class="art-page-wrap">
    <header class="art-masthead">
      <div class="art-eyebrow">
        <span>ESSAYS&nbsp;&amp;&nbsp;FICTION</span>
        <span>{articles.length} 篇</span>
      </div>
      <h1>匯 文</h1>
      <p class="art-sub">小说、随笔、读书札记</p>
      <div class="art-rule"></div>
    </header>

    <ArticleListWithTimeline articles={articles} basePath="/posts" />
  </div>
  <ScrollTopBottom />
</BaseLayout>

