---
---
<div class="flex justify-center my-10">
  <div class="w-5 h-5 border border-[var(--color-border-dark)] rotate-45 flex items-center justify-center">
    <span class="text-[7px] text-[var(--color-accent)] -rotate-45 font-serif">完</span>
  </div>
</div>
